<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>{$info.title|strip_tags}&nbsp;|&nbsp;{:C('WEB_SITE_TITLE')}</title>
    <meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}"/>
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="shortcut icon" href="__IMG__/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/normalize3.0.2.min.css">
    <link rel="stylesheet" type="text/css" href="__CSS__/style.css">
    <!--[if lt IE 9]>
    <script src="../js/html5.js"></script>
    <script src="../js/ie9.js"></script>
    <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
     <!--head begin-->
    <div class="head">
        <div class="container">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <div class="logo_seach">
                    <h1><a href="/"><img src="__IMG__/logo.png"  height="50"></a></h1>
                        <div>
                        <form action="/" method="get" id="subform">
                        <input type="text" name="keywords" placeholder="搜索全网折扣..." /><p><a href="javascript:;"  onclick='submit()' ><img src="__IMG__/seach.gif" alt="" /></a></p>
                        </form>
                        </div>
                   </div>
                </div>  
            </div>
               
        </div>
    </div>

    <!--head over-->
    <div class="container">
        <div class="row">
            <!--  左侧 begin -->
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
            	
                
                
                <div class="main_l" style="margin-top:20px;">
                	<div class="hr title3 none">{$info.source_time|time_tran}&nbsp;&nbsp;&nbsp;&nbsp;商城：{$info.targets} （<a href="#">全部{$info.targets}的折扣> </a>）&nbsp;&nbsp;&nbsp;&nbsp;来源：{$info.source_name}<a href="#"><img src="__IMG__/icon07.gif" alt="" /></a></div>
                    
                    
                    <div class="mlistnr">
                    	<h1><div>{$info.title}</div><p><a href="/go2url/{$info.id}" target="_blank" class="imglistsub">直达链接&gt;</a></p></h1>
                        {$info.content}
                        <div class="mlistnrsub"><a href="/go2url/{$info.id}" target="_blank" class="imglistsub2">前往购买&raquo;</a></div>
                    </div>
                   
                    
                </div>
              
               <!-- <div class="main_l none" style="margin-top:20px;">
                	<div class="hr title3">热门推荐</div>
                    
                    
                    <div class="mlist">
                    	<ul>

                            <li><p><img src="__IMG__/img02.gif" alt="" class="img" /></p><h3>京东商城 太平鸟男装 京东商城 太平鸟男装 条纹茄克衫外京东商城 太平鸟男装 条纹茄克衫外条纹茄克衫外套 <span>69元包邮</span> 需用<span>券</span></h3></li>
                            
                        </ul>
                    </div>
                   
                    
                </div>
                
                
                <div class="main_l none" style="margin-top:20px;">
                	<div class="hr title3"><span>天猫</span>的其它热门商品</div>
                    
                    
                    <div class="mlist">
                    	<ul>
                            
                            <li><p><img src="__IMG__/img02.gif" alt="" class="img" /></p><h3>京东商城 太平鸟男装 京东商城 太平鸟男装 条纹茄克衫外京东商城 太平鸟男装 条纹茄克衫外条纹茄克衫外套 <span>69元包邮</span> 需用<span>券</span></h3></li>
                            
                        </ul>
                    </div>
                   
                    
                </div> -->
            </div>
            
            <!--  左侧 over -->
            <!--  右侧 begin -->
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 main_r">
            	
                <!--div class="mt20 main_l">
                	<div class="hr title3">热门推荐</div>
                    <div class="mlist2">
                    	<ul>

                            <li><a href="#"><p><img src="__IMG__/img02.gif" alt="" class="img" /></p><h3>京东商城 太平鸟男装 京东商城 太平鸟男装 条纹茄克衫外京东商城 太平鸟男装 条纹茄克衫外条纹茄克衫外套 <span>69元包邮</span> 需用<span>券</span></h3></a></li>
                            
                            
                        </ul>
                    </div>
                </div-->
                
                <div class="mt20 main_l">
                	<div class="hr title3">常用网站导航</div>
                    <ul class="partner">
                    	<li class="hr"><a href="http://www.jd.com" target="_blank"><img src="__IMG__/mall/jd.png" alt="" class="img" /></a></li>
                        <li class="hr"><a href="http://www.z.cn" target="_blank"><img src="__IMG__/mall/z.png" alt="" class="img" /></a></li>
                        <li class="hr"><a href="http://www.suning.com" target="_blank"><img src="__IMG__/mall/suning.png" alt="" class="img" /></a></li>
                        <li class="hr"><a href="http://www.kaola.com/" target="_blank"><img src="__IMG__/mall/kaola.png" alt="" class="img" /></a></li>
                        <li class="hr"><a href="http://www.dangdang.com" target="_blank"><img src="__IMG__/mall/dd.png" alt="" class="img" /></a></li>
                        <li class="hr"><a href="http://www.yhd.com" target="_blank"><img src="__IMG__/mall/1.png" alt="" class="img" /></a></li>
                        <li class="hr"><a href="http://you.163.com" target="_blank"><img src="__IMG__/mall/yanxuan.png" alt="" class="img" /></a></li>
                        <li class="hr"><a href="http://www.gome.com.cn" target="_blank"><img src="__IMG__/mall/guomei.png" alt="" class="img" /></a></li>
                    </ul>
                </div>
                
                
                <!-- <div class="mt20 main_l">
                	<div class="hr title3">分类/热词</div>
                    <ul class="hotclass">
                    	<li><span>&bull;<a href="#">母婴</a></span><a href="#">尿布</a><a href="#">奶粉</a><a href="#">奶瓶</a><a href="#">婴儿车</a><a href="#">吸奶器</a></li>
                        <li><span>&bull;<a href="#">日用</a></span><a href="#">尿布</a><a href="#">奶粉</a><a href="#">奶瓶</a><a href="#">婴儿车</a><a href="#">吸奶器</a></li>
                        <li><span>&bull;<a href="#">家电</a></span><a href="#">尿布</a><a href="#">奶粉</a><a href="#">奶瓶</a><a href="#">婴儿车</a><a href="#">吸奶器</a></li>
                        <li><span>&bull;<a href="#">食品</a></span><a href="#">尿布</a><a href="#">奶粉</a><a href="#">奶瓶</a><a href="#">婴儿车</a><a href="#">吸奶器</a></li>
                        <li><span>&bull;<a href="#">没装配饰</a></span><a href="#">尿布</a><a href="#">奶粉</a><a href="#">奶瓶</a><a href="#">婴儿车</a><a href="#">吸奶器</a></li>
                        <li><span>&bull;<a href="#">户外活动</a></span><a href="#">尿布</a><a href="#">奶粉</a><a href="#">奶瓶</a><a href="#">婴儿车</a><a href="#">吸奶器</a></li>
                    </ul>
                </div> -->
                
                
                <div class="mt20 main_l aa">
                	<div class="hr title3">最热点击Top9<a href="#">全部&gt;</a></div>
                    <ul class="hot">
                    	<volist name="top9" id="item">
                        <a href="/info/{$item.id}" target="_blank"><li><p><img src="__IMG__/{$key+1}.gif" alt="" /></p><h3>{$item.title}</h3></li></a>
                        </volist>
                    </ul>
                </div>
                
            </div>
            <!--  右侧 over -->
        </div>
    </div>
    
   
    <!--  footer begin -->
    <div class="footer">
      <div class="container">
        <div class="row">
        	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            	<h3>关于我们</h3>
                <p>我得买是全网首个将多家折扣资讯网站进行智能聚合的引擎，每天更新数据1500-3000条，与数据来源网站保持分钟级别的同步，让您在一站获得全网折扣信息。</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            	<h3>官方微博</h3>
                <p>我得买是全网首个将多家折扣资讯网站进行智能聚合的引擎，每天更新数据1500-3000条，与数据来源网站保持分钟级别的同步，让您在一站获得全网折扣信息。</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            	<h3>微信公众号</h3>
                <p>我得买是全网首个将多家折扣资讯网站进行智能聚合的引擎，每天更新数据1500-3000条，与数据来源网站保持分钟级别的同步，让您在一站获得全网折扣信息。</p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6">
            	<h3>网站信息</h3>
                <p>我得买是全网首个将多家折扣资讯网站进行智能聚合的引擎，每天更新数据1500-3000条，与数据来源网站保持分钟级别的同步，让您在一站获得全网折扣信息。</p>
            </div>
        </div>
      </div>

    </div>
    <!--  footer over -->
    <!--  head slide begin -->
   
    <!--  head slide over -->
	<script type="text/javascript" src="__JS__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__JS__/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="__JS__/js/main.js"></script>
<script type="text/javascript">  
   //提交搜索
function submit(){
    document.getElementById("subform").submit();
}
</script>
</body>

</html>